{
  "env": {
    "browser": true,
    "es2021": true,
    "node": true
  },
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended", // 添加TypeScript推荐规则
    "prettier"
  ],
  "parser": "@typescript-eslint/parser", // 使用@typescript-eslint/parser作为解析器
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "project": "./tsconfig.json" // 指向你的tsconfig.json文件
  },
  "plugins": [
    "@typescript-eslint" // 添加@typescript-eslint作为插件
  ],
  "rules": {
    "@typescript-eslint/explicit-module-boundary-types": "off"
  }
}